language: go

service:
  - docker

go:
   - "1.14.x"

os:
  - linux

services:
  - docker

branches:
  only:
    - master
    - /^release-[0-9]+\..*$/

addons:
  sonarcloud:
    organization: "open-cluster-management"
    token:
      secure: "QlLPdt1qmCQHznVrrd8rD/IoDb1RjpC0tmNv4cNw2sdMDbbohIKwjaxQ4CbzZGxLn5DWnLwumwhZtFsikDBEsruR5/yUytI+4luTbm583QUEjswRGVG/Qbiol7R3qJdkDJSgc1dYflXneKh+jCYhnvrIb5No+8+AHZ90kCQ1TDEercbyKIBQgIwxvl3RZIFzhAFUj/hkZSUYcc+45K4BeMDhJL9FQX56vOQeLuraTTs8EzLv9NQZTqj8oePaG4AsfH09F0G+3cGAPKd0uZtlBB6b7QnGb9TB/3NlklhdRwNAd84t4RsYEvaIehA1TsdOfeKtJJRzidj+QZaKTHmKG+//W6RWhoUI73LzXDA1l+Z5x6uYPIx7azvtEVoDkMyBTKqHVVfVsdVCoEB8VUWcfnpSzszFz/m1brfph4X1Ghacr8iCA0uYbqqla+bDZJFuEhbPb22VxPXILQGnyJBuAP0Zj8vOn+x76c1JNFCt4TG36Z12ej3AAbPFRUD38ZzsF/NtJ6UDdPTum8ufSBC22MdHLbxkn+ZFBaolVoReMin8D7ho5rR9KjWsklh97bO7G4TRswIPOdzHHHxSeogO+YloZgR7XlXxDKIm74heOzp0uuOrtdxMklo+8Dm38v08jnagYonmAkh/J7AwAggTFn8KwRWv3bDISb5UsQYuL08="
  
env:
  global:
    # Required
    - OS=linux
    - COMPONENT_TAG_EXTENSION="-${TRAVIS_COMMIT}"
    # Component Specific
    - COMPONENT_TYPE="make"
    - COMPONENT_INIT_COMMAND=${TRAVIS_BUILD_DIR}/build/install-dependencies.sh
    - COMPONENT_BUILD_COMMAND=${TRAVIS_BUILD_DIR}/build/build.sh
    - COMPONENT_UNIT_TEST_COMMAND=${TRAVIS_BUILD_DIR}/build/run-unit-tests.sh
    - COMPONENT_E2E_TEST_COMMAND=${TRAVIS_BUILD_DIR}/build/run-e2e-tests.sh

before_install:
  - ./build/install-dependencies.sh
  - export ISHIELD_REPO_ROOT=$TRAVIS_BUILD_DIR

stages:
  - lint
  - build
  - test-unit
  - test-e2e
  - publish

jobs:
  include:
    - stage: lint
      name: "Run code lint"
      script:
         - |
           make lint
    - stage: build
      name: "Build the image and push it"
      script:
         - |
           make init
           make component/build
           make sec-scan
    - stage: test-unit
      name: "Run unit test"
      script:
        - set -e
        - |
          make init
          make component/test/unit
          make test-gpg-annotation
          make sonar-go-test-ishield
          make sonar-go-test-op
          # make sonar/go enable it after resolving package references to upstream repo
    - stage: test-e2e
      name: "Deploy the image to a cluster and run e2e tests"
      script:
        - |
          make init
          make component/pull
          make component/test/e2e
    - stage: publish
      name: "Publish the image to quay with an official version/sha tag and publish entry to integration pipeline stage"
      if: env(ENABLE_PUBLISH) = true AND branch =~ /^release-[0-9]+\..*$/
      #type = push AND branch = master
      script:
        - |
          make init
          make component/build
          make publish
          #${TRAVIS_BUILD_DIR}/build/pipeline.sh
