language: node_js
node_js:
- stable
sudo: false
cache:
  directories:
  - docs/node_modules
before_install:
- openssl aes-256-cbc -K $encrypted_6ddbe33ab8fb_key -iv $encrypted_6ddbe33ab8fb_iv
  -in ie_travis_gh_deploy_key.enc -out ie_travis_deploy_key -d
- chmod 600 ie_travis_deploy_key
- eval `ssh-agent -s`
- ssh-add ie_travis_deploy_key
install:
- pushd .
- cd ${DIR_TEMPLATE}
- npm install -g gitbook-cli
- npm install
- which gitbook
- popd
branches:
  only:
  - master
  - add-docs
script:
- pushd .
- cd ${DIR_TEMPLATE}
- gitbook install
- gitbook build
- git push origin --delete gh-pages
- pushd .
- cd _book
- git init
- git checkout -b gh-pages
- git add .
- git commit -m "Publishing site on `date "+%Y-%m-%d %H:%M:%S"`"
- git push -f git@github.com:${GH_REPO}.git gh-pages
- popd
- rm -rf _book
- popd
before_deploy:
- git config --global user.email "muew@jp.ibm.com"
- git config --global user.name "Yuji Watanabe"
- git config --global push.default simple
env:
  global:
  - DIR_TEMPLATE=docs
  - GH_REPO=IBM/integrity-enforcer
notifications:
  slack:
    secure: DGSuvNzEJJRaCqmlcNVIhbYsAsrkaGuIjyYTjTEUOpmrD7oK+xnaquERM+KrfQMCAFJX8/MnT4lfJg56PPfEMQ/Y7HxmXZg8q/LxQg9D3a6Q3V9oGj2imxQZMaaaIl7OA/GvxIl1o8+JI5nlAT4whABJ6ZPZ1KCLzgTzcg/ODAFaQMRwV6ZfX3F6cAecpilrRcPlmwDkC5LdiuvslbdXv9XQcVBtYml/OAoqFfdf+H9nrcF9BGhAk2Rm6beHci4xjwwN9usgQuDbtwzld0ZS2F/r7h/DYo9Xpe7It8K/lw58ddDxr9tsZY3qG2I2cwkW79E1llXiIf7EWfqlbSHHXvqId/3Giqe/RdAk9XuXkLeAQImn1rzQW1P+BCQo+Z1oLh0VCLDr/NatRWRpZqvJ3UyvTOpGKwQPNDwNk6N6d1uiCMREh/Foe6YIzzf+OWSBnw+pVk5AQ+ls8g+Kpda7RvoAXE99pcxAewH683rsRq+qwDakRtoJGeThCOyIDVeneGJVdb1XZ4G6mKb9tYy+Zc5wAQAECl+PiqJg/3NbdTUCr554Qk1AIs2/RQ9runy2iAJyoo5bSK6ajIbPL3uLL1MS9O8AGa5wcSrbdM91/ZoMWuvu+KGlap/liZKaIuLvws/kFEGN+aoZvhcISRmwEGIzocfscfdkL37W+kHf2UI=
